<mat-nav-list>
    <a mat-list-item routerLink="/homepage" routerLinkActive="active" (click)="onSidenavClose()">
        <mat-icon>home</mat-icon> <span class="nav-caption">Homepage</span>
    </a>
    <a mat-list-item routerLink="/employees" routerLinkActive="active" (click)="onSidenavClose()">
        <mat-icon>badge</mat-icon> <span class="nav-caption">Employees</span>   
    </a>
    <a mat-list-item routerLink="/salaries" routerLinkActive="active" (click)="onSidenavClose()">
        <mat-icon>attach_money</mat-icon> <span class="nav-caption">Salaries</span>
    </a>
    <a mat-list-item routerLink="/loans" routerLinkActive="active" (click)="onSidenavClose()">
        <mat-icon>credit_score</mat-icon> <span class="nav-caption">Loans</span>
    </a>
    <a mat-list-item routerLink="/deductions" routerLinkActive="active" (click)="onSidenavClose()">
        <mat-icon>money_off</mat-icon> <span class="nav-caption">Deductions</span>
    </a>
    <a mat-list-item routerLink="/expenses" routerLinkActive="active" (click)="onSidenavClose()">
        <mat-icon>paid</mat-icon> <span class="nav-caption">Expenses</span>
    </a>
    <a mat-list-item routerLink="/leave" routerLinkActive="active" (click)="onSidenavClose()">
        <mat-icon>spa</mat-icon> <span class="nav-caption">Leave</span>
    </a>
</mat-nav-list>