h1 {
    font-weight: bold;
    color: #1976d2;
}

.table-wrapper{
    margin: 60px 70px 70px;
}

.container, ng-container {
    font-size: 12px;
    font-weight: normal;
    border-radius: 5px;
    border-collapse: collapse;
    width: 90%;
    white-space: nowrap;
    background-color: white;
}

.container {
    th {
        text-align: left;
        font-size: medium;
        background-color: #1976d2;
        color: #fff;
    }
    td{
        text-align: left;
        font-style: italic;
    }
}

// style for add salaries button
.addDeductions {
    background-color: #1976d2;
    color: #fff;
    font-style: italic;
}
.addDeductions:hover {
    background-color: #619dd8;
    color: #fff;
    font-style: italic;
}

input[type=text] {
    padding: 8px;
    width: 30%;
    font-size: 14px;
    margin-left: 8px;
}

// styles for edit/delete icons
.action-link {
    a {
        color: #1976d2;
    }
    a:hover {
        color: #619dd8;
    }
}


mat-table {
    width: 100%;
    margin: 4px;
    padding: 16px;
}