div {
    align-items: center;
    text-align: center;
}

h1 {
    font-weight: bold;
    color: #1976d2;
}

h3 {
    color: #1976d2;
}

a{
    color: #4da2f7;
    text-decoration: none;
}

a:hover {
    color: #1976d2;
}

span {
    font-weight: bold;
}

img {
    margin: 4px;
    width: 200px;
  }